<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>ERROR</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
</head>
<body>
{# navbar start #}
<nav class="navbar navbar-expand-lg navbar-light static-top container-fluid font-weight-bold"
     style="background-color: lightblue;">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav ml-auto text-center text-justify">
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('home') }}">HOME</a>
            </li>
        </ul>
    </div>
</nav>
{# navbar end #}
<br>
    <h1>Error. No result. Please click HOME to try again</h1>
</body>
</html>
